---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <!-- seo -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="min-h-screen bg-zinc-950 text-zinc-100 font-sans antialiased selection:bg-zinc-800 selection:text-white"
  >
    <Navbar />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #09090b;
  }
</style>
